.headerContainer {
    height: 2rem;
}

.headerContent {
  max-width: 1300px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  height: 3rem;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    height: 3rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 3rem;
      line-height: 3rem;

      & + a {
        margin-left: 0.5rem;
      }
    }
  }
}

.iconsContainer {
  padding: 0 0.2rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;

  button {
    border: 0;
    background: transparent;

    & + button {
      margin-left: 2.7rem;
    }

    img {
      height: 2rem;
    }
  }

  .containerCart {
    justify-content: center;

    display: flex;
    position: relative;
  }
}