.modal {
  position: absolute;
  top: 3rem;
  right: -1rem;
  background: #e6e6e6;
  width: 19rem;

  .products {
    height: calc(470px - 5rem);
    overflow-y: scroll;
    background: #f0f0f0;
  }

  p {
    height: 3rem;
    
    display: flex;
    justify-content: center;
  }

  p {
    display: flex;
    align-items: center;
    justify-items: center;

    > span {
      font-weight: bold;
      margin-left: 0.5rem;
    }
  }
  
  button {
    margin: 0;
    padding: 0;
    border: 0;
    background: #14b21c;

    color: var(--white);
    font-weight: bold;
    width: 19rem;
    height: 3rem;
  }
}