.container {
  margin-bottom: 1rem;
  padding: 1rem;

  & + .container {
    padding-top: 2rem;
    margin-top: 1rem;
    border-top: 1px solid rgb(233, 233, 233);
  }

  main {
    display: flex;
    max-width: 18rem;
  
    aside {
        img {
          height: 5rem;
        }
    }
    
    div {
      padding: 0.2rem;
      
      p {
        display: block; 
        display: -webkit-box;
        max-width: 190px;
        font-size: 0.8rem;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
     
      span {
        font-size: 1rem;
        & + span {
          margin-left: 1rem;
        }     
      }

      .money {
        font-weight: bold;
        color: #14b21c;
      }
    }
  }
}

